<!DOCTYPE html>
<html>
<head>
  <title>GroceryBuddy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="navbar navbar-default navbar-fixed-top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><b> GroceryBuddy</b></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>

                <li><%= link_to "Sign Out", signed_out_path %></li>
                <li><%= link_to "My account", account_settings_path %></li>
            <% else %>
                <li><%= link_to "Sign up", new_user_path %></li>
                <li><%= link_to "Sign In", sign_in_path %></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>




    <div class="container">
      <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :class => "alert alert-success" %>
      <% end %>


    <%= yield %>
    </div>
</body>
</html>